body {
    background-color: rgba(20, 87, 155, 0.5);
}

h1 {
    color: white;
}

.friend {
    background-color: rgba(2, 146, 103, 0.6);
    color: white;
    border: 1px solid black;
}

.friend h3 {
    text-transform: uppercase;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
}